/* CSS Document */
/****共用样式****/
@charset"utf-8";
.top{ margin-top:15px;} .top5{ margin-top:5px;} .top8{ margin-top:8px;} .top10{ margin-top:10px;}

/****正在热映样式****/
.movie_tag{width:16px; height:16px; border-radius:10px; background:#eeeeee; color:#000;line-height:16px; margin:5px 0px 0px 5px; display:inline-block;}
.all_movie{ margin-top:15px;}
.movie_in{ width:94%; padding:0px 3%; margin-bottom:15px;}
.movie_in dl{ display:-webkit-box;}
.movie_in dt{ margin-right:10px;}
.movie_in dd{ text-align:left; line-height:24px; color:#e7e7e7; -webkit-box-flex:1;} 
/*.all_dd{ width:200px;}*/
.w_movie{ max-width:77%;}
.gp_movie{width: 150px;height: 46px;background-color: rgba(83,83,83, 0.4);border-left: 0px;border-right: 0px;text-align: center;line-height: 50px;font-size: 13px;box-shadow: 1px 1px 1px #000;margin-top: 2px;}
.btn_gp{margin-top:2px; background:url(http://m.douyou100.com/Resources/douyou100_1/images/gp_bj.png) no-repeat; border:0px; color:#7a440a; display:block; width:48px; height:48px; background-size:48px 48px; font-family:"微软雅黑";}


/****正在热映详情样式****/
.movie_infor{ width:100%;}
.movie_infor .movie_in{ width:94%; padding:0px 3%; margin-bottom:15px;}
.movie_infor .movie_in dl {display: -webkit-box;}
.movie_infor .movie_in dt{ margin-right:10px;}
.movie_infor .movie_in dd{ text-align:left; line-height:20px; color:#666666; -webkit-box-flex:1;} 
.movie_infor .all_dd{ color:#e7e7e7; }
.movie_infor .w_movie{ width:77%;}
.movie_infor .gp_movie{ width:130px; height:48px; background:#e1e1e1; text-align:center; line-height:50px; font-size:13px;}
.movie_infor .btn_gp{ background:url(/Resources/douyou100/images/gp_bj.png) no-repeat; border:0px; color:#FFFFFF; display:block; width:48px; height:48px; background-size:48px 48px; font-family:"微软雅黑";}
.btn_infor{ background:url(http://m.douyou100.com/Resources/douyou100_1/images/btn_bj.png) no-repeat; background-size:140px 30px; border:0px; width:140px; height:27px; color:#7a440a; font-family:"微软雅黑";}
.btn_infor_N{ background:url(http://m.douyou100.com/Resources/douyou100_1/images/btn_bj_hs.png) no-repeat; background-size:140px 32px; line-height:32px; border:0px; width:140px; height:32px; color:#c0c0c0; text-shadow:1px 0px 0px #000; font-family:"微软雅黑"; font-size:14px;}


.btn_infor_hs{ background:url(http://m.douyou100.com/Resources/douyou100_1/images/btn_bj_hs.png) no-repeat; background-size:140px 27px; border:0px; width:140px; height:27px; color:#c0c0c0; font-family:"微软雅黑";}
.btn_infor_gp{ font-size:14px;background:url(http://m.douyou100.com/Resources/douyou100_1/images/btn_bj.png) no-repeat; background-size:140px 32px; border:0px; width:140px; height:32px; line-height:32px; color:#7a440a; font-family:"微软雅黑";}
.new_nav{width:94%; margin:0px 3%; height:33px; line-height:33px; text-align:center;}
.new_nav ul{ width:100%; background-color:rgba(83,83,83, 0.4); border-bottom:1px solid #4c4c4c; box-shadow:1px 1px 0px #000;  border-top:1px solid #4c4c4c; height:33px; display:-webkit-box;  color:#c0c0c0; text-shadow:1px 1px 0px #000;}
.new_nav li{ display:block; -webkit-box-flex:1;  color:#c0c0c0; text-shadow:1px 1px 0px #000; height:33px; }
.border{background:url(http://m.douyou100.com/Resources/douyou100_1/images/line_h.png) repeat-y; width:2px; height:33px;}
.new_nav ul .new_nav_sel_li{background:url(http://m.douyou100.com/Resources/douyou100_1/images/nav_bj_new.png) repeat -2px; height:33px; background-size:100% 35px; color:#7a440a; text-shadow:0px 0px 0px #000;}
.story{margin:0 3%; width:90%; background-color:rgba(83,83,83, 0.4);  color:#e7e7e7; text-shadow:1px 1px 0px #000;  padding:15px 2%; line-height:26px; text-align:left; margin-bottom:15px;}


.poster{width:100%; margin:0; height:92px; margin: 10px 3%;}


.discuss .hsz{ width:94%; padding:0 3%; text-align:right; line-height:40px; height:40px;}
.discuss .hsz img{margin-top:14px; }
.discuss_con{ width:94%; margin:0 3%;}
.discuss_con dl{ border-top:1px solid #484848; padding-top:8px; width:100%; line-height:20px; display:-webkit-box;}
.discuss_con dt{margin-right:5px;}
.discuss_con dt img{ margin-left:15px; }
.discuss_con dd{ text-align:left; -webkit-box-flex:1; color:#e7e7e7;}
.discuss_con dd p{ word-wrap: break-word;word-break: normal;}

/****购票A样式****/
.movie_infor{ margin-bottom:15px;}
.schedule{ width:94%; margin:0 3%; margin-top:15px; color:#666666; height:25px; line-height:25px;   }
.schedule p{width:100%; text-align:left;}
.schedule li{width:78px; text-align:center;  margin-right:10px; line-height:22px; height:49px; padding-top:2px; background-color:rgba(83,83,83, 0.4);  border-bottom:1px solid #000; border-top:0px; border-left:0px; border-right:0px; box-shadow:0px 1px 0px #6a6a6a Inset; }
.schedule li:hover{  background:url(http://m.douyou100.com/Resources/douyou100_1/images/nav_bj_new.png) repeat-x; background-size:100% 52px; color:#7a440a;}
.schedule ul{ margin-top:10px;}

.cinema{width:94%; background-color:rgba(83,83,83, 0.4); border-bottom:1px solid #000; border-top:0px; border-left:0px; border-right:0px; box-shadow:0px 1px 0px #6a6a6a Inset; padding:0 3%; text-align:left; line-height:20px; color:#c0c0c0; text-shadow:1px 1px 0px #000; }
.cinema label{width:100%; height:40px; display:block; line-height:40px;}
.cinema label img{margin-top:10px;}
.list_cin{background-color:rgba(83,83,83, 0.2); border-top:1px solid #404040; border-bottom:1px solid #1a1a1a; width:94%; text-align:left; padding:10px 3%; color:#c0c0c0; text-shadow:1px 1px 0px #000;  line-height:20px;display:block; }



.list_cin dl{ width:100%; display:-webkit-box;}
.list_cin dt{width:54px; text-align:right;}
.list_cin dt img{margin-top:4px;}
.list_cin dd{ -webkit-box-flex:1;}


/****购票B样式****/
.confirm{border-bottom:1px solid #d3d2d2; line-height:23px; color:#e7e7e7; background-color:rgba(83,83,83, 0.4);  border-bottom:1px solid #000; border-top:0px; border-left:0px; border-right:0px; box-shadow:0px 1px 0px #6a6a6a Inset; margin:0 3%; width:88%;}
.confirm_con{margin-top:10px; width:100%;}
.confirm_con ul{background-color:rgba(83,83,83, 0.4); border-bottom:1px solid #000; border-top:0px; border-left:0px; border-right:0px; box-shadow:0px 1px 0px #6a6a6a Inset; padding:12px 0px; height:51px; color:#c0c0c0; line-height:25px; display:-webkit-box; text-align:center; text-shadow:1px 1px 0px #000;}

.w_c1{width:105px; padding:0px 5px;}
.w_c1 .f25{ color:#e7e7e7;}
.w_c2{ line-height:51px;  -webkit-box-flex: 1;}
.w_c3{width:100px;}

/***选座样式****/
.selet_seat{background-color:rgba(83,83,83, 0.2); text-align:center; border-bottom:1px solid #000; border-top:0px; border-left:0px; border-right:0px; box-shadow:0px 1px 0px #6a6a6a Inset; width:100%;}
.seat_top{ width:100%;}
.seat_top ul{ padding:8px 0px; width:300px; height:20px; margin:0 auto;}
.seat_top li{ margin-right:10px;}
.seat_top li img{ margin-top:4px; margin-right:3px;}
.screen{width:94%; height:35px; text-align:center; line-height:35px; border:2px solid #7f7979; margin:0 3%; margin-bottom:10px; color:#ffd401; text-shadow:1px solid #000; box-shadow:-1px -1px 0px #000; }
.seat{margin:0 24px; width:auto; height:200px; overflow-y:auto; overflow-x:auto;}
.seat table{margin:0 auto;}
.seat_seat{ margin-top:15px; background-color:rgba(83,83,83, 0.2); text-align:center; border-bottom:1px solid #000; border-top:0px; border-left:0px; border-right:0px; box-shadow:0px 1px 0px #6a6a6a Inset; width:100%; }

.seat_left{ width: 200px;margin-left: 5px;}
.seat_left ul{width:100%; border-bottom:1px solid #000; box-shadow:0px 1px 0px #4d4d4d; margin:5px 0px;}
.seat_left li{ width:40%; margin-right:5%; text-align:center; line-height:23px;}
.seat_left p{ width:200px; text-align:left; color:#fff; text-shadow:1px 1px 0px #000; line-height:22px;}
.seat_right {width: 90px;border-left: 1px solid #4d4d4d;box-shadow: -1px 0px 0px #000;padding-left: 3px;margin-top: 15px;line-height: 50px; margin-right:3px;}

.more .btn_hs{ background:url(http://m.douyou100.com/Resources/douyou100_1/images/nav_bj_new.png) repeat-x -2px; font-size:15px; border-bottom:1px solid #000; border:0px; height:38px; font-family:"微软雅黑";  color:#7a440a; text-shadow:0px 0px 0px #000;  outline:none; display:block; width:100%; line-height:38px;}

.money{ height:30px; line-height:30px; border-top:1px solid #4c4c4c; box-shadow:0px -1px 0px #000; margin-top:5px;} 
.money div{width:270px; text-align:center;}

.text{width:94%; margin:0 3%; margin-top:15px; margin-bottom:50px;}
.inp_text{width:94%; border:1px solid #e1e1e1; height:30px;background-color:rgba(83,83,83, 0.4); border:1px solid #202020; box-shadow:1px 1px 1px #6b6b6b Inset; color:#e7e7e7; font-family:"微软雅黑"; font-size:14px; padding:0px 3%; height:40px; outline:none;}


.text_con{text-align:left; line-height:25px;}
.success{width:224px; background-image:-webkit-gradient(linear,0% 0%, 0% 100%, from(#e8e6d8), to(#f5f2e5)); margin-left:18px; box-shadow:1px 0px 0px #bbbbbb; padding:5px 10px;}
.success p{width:100%;}
.success .f15{border-top:1px dashed #c0baac; border-bottom:1px dashed #c0baac; line-height:35px; text-align:center; margin-bottom:5px;}
.success_bot{margin-left:18px;}
.success_top{border-top:1px dashed #c0baac; line-height:30px; margin-top:5px; text-align:center;}
.suc{ margin-left:9px;}

.pay_order{text-align:left; width:94%; margin:0 3%;}
.pay_order ul{ width:100%;}
.pay_order li{ width:100%; background-color:rgba(83,83,83, 0.4);  border-bottom:1px solid #000; border-top:0px; border-left:0px; border-right:0px; box-shadow:0px 1px 0px #6a6a6a Inset;}
.order_money{background-color:rgba(83,83,83, 0.4);  border-bottom:1px solid #000; border-top:0px; border-left:0px; border-right:0px; box-shadow:0px 1px 0px #6a6a6a Inset; width:94%; margin:10px 0; height:35px; line-height:35px; padding:0 3%;}
.bank{width:100%; height:60px; text-align:center;}
.bank img{margin-top:15px;}
.bank4 img{margin-top:8px;}
.bank_text{width:100%; text-align:center; line-height:30px;}


.all_bank{width:94%; height:100%; background-color: rgba(242,242,242,0.5); position:fixed; top:0px; left:0px; z-index:333; display:block; padding:0 3%;}
.all_bank .top{ width:50%;}
.all_bank ul{ margin:0 auto; width:100%; padding-top:8px;}
.all_bank li{ border:1px solid #e1e1e1;}

.buy_tickit{width:100%; border-bottom:none;}
.buy_tickit .btn_infor{ background-size:100px 30px; width:100px;}
.buy1{width: 43px;}

.buy3{ -webkit-box-flex: 1; text-align:center;}
.buy_tickit li{ height:40px; line-height:40px;}
.buy_tickit ul{ display: -webkit-box; width: 94%;padding: 0 3%; background-color:rgba(83,83,83, 0.2); border-top:1px solid #404040; border-bottom:1px solid #1a1a1a; }







.help{width:100%; text-align:left; line-height:24px; margin-top:5px; color:#c0c0c0;}
.help p{padding:0 3%;}
.help ul{margin-bottom:30px; width:100%;}
.help ul li{ line-height:32px; padding:0 3%;}
.hs_bj{background-color:rgba(83,83,83, 0.4);  border-bottom:1px solid #000; border-top:0px; border-left:0px; border-right:0px; box-shadow:0px 1px 0px #6a6a6a Inset; }

.client{ width:94%; margin:0 3%; margin-bottom:15px; color:#e7e7e7;}
.client dl{ width:100%; padding:15px 0px; display:-webkit-box;}
.client dt{ width:57px; margin-right:10px;}
.client dd{ text-align:left; line-height:22px; -webkit-box-flex:1;}

.client .btn_hhs{width:48%; height:33px; font-size:14px; line-height:33px;}
.client .btn_hs img{ margin-top:8px;}
.idear{ width:94%; margin:0 3%; text-align:left; padding-bottom:55px;}
.idear div{ width:100%; line-height:25px;}
.idear_text{width:96%; border:1px solid #4a4a4a; background-color:rgba(0,0,0, 0.4); height:120px; margin-top:15px; font-family:"微软雅黑"; padding:0 2%; color:#ccc; line-height:25px;}
.idear_inp{ width:250px; border:1px solid #4a4a4a; height:28px; line-height:28px; font-family:"微软雅黑"; padding:0 2%; background-color:rgba(0,0,0, 0.4); color:#ccc; }

.login{ width:94%; margin:0 3%; text-align:left; margin-bottom:15px;}
.login p{line-height:40px; color:#c0c0c0;}
.login_k{ width:74%; margin:0 3%; border:1px solid #ccc; background-color:rgba(83,83,83, 0.4); border-bottom:1px solid #000; border-top:0px; border-left:0px; border-right:0px; box-shadow:0px 1px 0px #6a6a6a Inset; padding:8% 10%; margin-bottom:10px;}
.login_k input{ margin-bottom:15px;}
.inp1{width:90%; background-color:rgba(83,83,83, 0.1); border:1px solid #202020; box-shadow:1px 1px 1px #6b6b6b Inset; height:40px; padding:0 5%; color:#e7e7e7; font-family:"微软雅黑"; background:url(http://m.douyou100.com/Resources/douyou100_1/images/login1.png) no-repeat 96%; background-size:13px 14px; outline:none; box-radius:0px;}

.inp2{ width:90%;background-color:rgba(83,83,83, 0.1); border:1px solid #202020; box-shadow:1px 1px 1px #6b6b6b Inset; height:40px; padding:0 5%; color:#e7e7e7; font-family:"微软雅黑"; background:url(http://m.douyou100.com/Resources/douyou100_1/images/login2.png) no-repeat 96%; background-size:13px 16px; outline:none;}

.login_k .btn_hs{border-radius:5px; }
.login_k a{ margin-top:10px; text-align:center; width:100%; display:block;}
.login label{width:60px; text-align:center; display:block; margin:0px 40px;}

.mobilelogin{ width:94%; margin:0 3%; text-align:left; margin-bottom:15px;}
.mobilelogin p{line-height:40px; color:#c0c0c0;}
.mobilelogin .box{ width:74%; margin:0 3%; border:1px solid #ccc; background-color:rgba(83,83,83, 0.4); border-bottom:1px solid #000; border-top:0px; border-left:0px; border-right:0px; box-shadow:0px 1px 0px #6a6a6a Inset; padding:8% 10%; margin-bottom:10px;}
.mobilelogin .box input{ margin-bottom:15px;}
.mobilelogin .inp1{width:94%; background-color:rgba(83,83,83, 0.1); border:1px solid #202020; box-shadow:1px 1px 1px #6b6b6b Inset; height:40px; padding:0 3%; color:#e7e7e7; font-family:"微软雅黑"; background:url(http://m.douyou100.com/Resources/douyou100_1/images/login1.png) no-repeat 96%; background-size:13px 14px; outline:none; box-radius:0px;}

.mobilelogin .inp2{ width:45%;background-color:rgba(83,83,83, 0.1); border:1px solid #202020; box-shadow:1px 1px 1px #6b6b6b Inset; height:40px; padding:0 3%; color:#e7e7e7; font-family:"微软雅黑"; background:url(http://m.douyou100.com/Resources/douyou100_1/images/login2.png) no-repeat 96%; background-size:13px 16px; outline:none;}
.mobilelogin .btn_y { margin-top: 2px; padding: 0 5px; height: 38px; display: inline-block; line-height: 38px; background: url(http://m.douyou100.com/Resources/douyou100_1/images/nav_bj_new.png) repeat-x -2px; border-radius:3px; font-size: 15px; font-family: "微软雅黑"; text-align: center; color: #7a440a; text-shadow: 0px 0px 0px #000; cursor: pointer; }
.mobilelogin .btn_g { margin-top: 2px; padding: 0 5px; height: 38px; display: inline-block; line-height: 38px; background: url(http://m.douyou100.com/Resources/douyou100_1/images/nav_bj_new_2.png) repeat-x -2px; border-radius:3px; font-size: 15px; font-family: "微软雅黑"; text-align: center; color: #4b4b4b; text-shadow: 0px 0px 0px #000; cursor: pointer; }
.mobilelogin .w_75 { width: 85px; }

.regist{ margin:0 2%; width:96%; margin-top:15px;}
.inp_regist{width:94%; border:1px solid #4a4a4a; height:35px; font-size:14px; font-family:"微软雅黑"; color:#e7e7e7; padding:0 3%; background-color:rgba(0,0,0, 0.4); }
.regist input{ margin-bottom:20px;}
.btn_yz{ width:33%; height:35px;}
.inp_w{ width:58%;}
.activity_con{ width:94%; padding:15px 3%; text-align:center;}
.activity_con dl{ width:100%; line-height:22px; display:-webkit-box;}
.activity_con dt{text-align:left;}
.activity_con dd{text-align:left;word-wrap: break-word;word-break:break-all; -webkit-box-flex:1;}
.ac_time{ margin-top:2px; color:#ffd401;}
.regist .btn_hs2 { margin-top:1px; border-width: 0px; height: 36px; display: inline-block; line-height: 36px; background: url(http://m.douyou100.com/Resources/douyou100_1/images/nav_bj_new.png) repeat-x -2px; border-radius:3px; font-size: 15px; font-family: "微软雅黑"; text-align: center; color: #7a440a; text-shadow: 0px 0px 0px #000; cursor: pointer; }
.regist .btn_hs3 { margin-top:1px; border-width: 0px; height: 36px; display: inline-block; line-height: 36px; background: url(http://m.douyou100.com/Resources/douyou100_1/images/nav_bj_new_2.png) repeat-x -2px; border-radius:3px; font-size: 15px; font-family: "微软雅黑"; text-align: center; color: #4b4b4b; text-shadow: 0px 0px 0px #000; cursor: pointer; }

.activity_con1 dt{text-align:left; color:#a09d9d;}
.activity_con1 dd{text-align:left;word-wrap: break-word;word-break:break-all; margin-left:5px; line-height:26px; color:#e7e7e7;}

.ac_line{border-bottom:1px solid #ccc; height:30px; width:100%;border-bottom: 1px solid #484848;}
.ac_con{ line-height:21px; margin-top:10px; text-align:left;word-wrap: break-word;width:100%;color:#e7e7e7}
.ac_con p{ text-indent:2em;}
.activity_con .btn_infor{background-size:110px 35px; width:110px; text-align:center; height:35px; font-size:14px; line-height:35px;}
.buy_td{width:94%; height:5px; border:1px solid #1c1c1c; margin:25px 3%; background:#555555; border-radius:5px; position:relative;}
.buy_td_btn{ position:absolute; top:-15px; left:-1px;}
#range{ width:94%; height:5px; border:1px solid #1c1c1c; margin:25px 3%; background:#555555; border-radius:5px;  -webkit-appearance: none;  cursor: default;}





/****使用范围样式****/
.use_scope{ width:100%; line-height:30px;text-align:center; text-shadow:1px 1px 0px #fff;height:120px;overflow:auto;}
.use_scope td{width:94%; background-color:rgba(83,83,83, 0.4); border-top:1px solid #404040; border-bottom:1px solid #1a1a1a; padding:0 3%; text-align:center; color:#c0c0c0; text-shadow:1px 1px 0px #000;  height:40px; line-height:40px;}
.cin_infor{ width:94%; padding:3%; }
.cin_infor img{border:1px solid #ccc;}

.cinema_icon{margin-top:3px;}
.cinema_icon li{ margin-left:5px;}

.new_help{ width:90%; margin:3%; color:#d4d4d4; text-align:left; padding:15px 2%;}
.dl{ text-indent:2em; line-height:24px;}

.picture{position:relative;}
.picture_con{height:48px; width:100%; background:-webkit-gradient(linear, 0 0, 0 100%, from(#000000), to(#424242));  position:absolute; top:0px; left:0px; opacity:0.8; z-index:22;}
.picture_bo{ position:absolute; bottom:0px; left:0px; height:28px; padding:3%; background-color:rgba(31,31,31,0.7); width:94%; color:#FFFFFF; text-align:left; overflow:hidden;}
.pic_return{ display:block; width:54px; height:40px; padding-top:8px; border-right:1px solid #000000; box-shadow:1px 0px 0px #666666;}
.pic_text{ padding-left:10px; color:#FFFFFF; line-height:46px;}


/****我的订单样式****/
/**
.order{ margin-top:10px;}
.order .new_nav{ width:100%; margin:0px;}
.order .new_nav li{color:#666; display:block; width:106px; background:#e1e1e1;}
.order .new_nav li:hover{ background:#ee6557; color:#FFFFFF;}
.order .new_nav ul{width:99.5%; background:#e1e1e1; padding-left:2px; height:30px;}
.order .border{background:#fff; width:1px; height:30px;}
.order_pay{ background:#f1f1f1; width:94%; padding:3%; text-align:left; line-height:22px; border-bottom:1px solid #b8b7b7; box-shadow:0px 1px 0px #fff; position:relative;}
.address .btn_hs{ width:120px; height:30px;}
.address li{ width:90px; margin:0px 5px;}
.address li .btn_hs{width:90px;}
.order_time{ width:110px; height:28px; background:#e1e1e1; text-align:center; line-height:28px; border:1px solid #b8b7b7; position:absolute; bottom:45px; right:15px;}
**/

.order_con{background: url(http://m.douyou100.com/Resources/douyou100_1/images/bj_new.jpg) repeat; border-bottom: 1px solid #000; box-shadow: 0px 0px 7px #000000; width:86%; margin:0 4%; box-shadow:0px 0px 7px #000000; position:absolute; top:245px; padding:15px 3%; text-align:left; line-height:30px; color:#ccc;}
.order_ues{background:rgba(0,0,0,0.5); position:absolute; width:100%; height:100%; z-index:88; top:0px; left:0px;}
.order_con dl,.order_con1 dl{width:100%;display:-webkit-box;float:none;text-align:left;}
.order_con dt,.order_con1 dt{width:54px;float:none;}
.order_con dd,.order_con1 dd{-webkit-box-flex:1;float:none;}
.order_anniu {width: 120px;margin-top: 10px;}
.order_anniu .btn_hs{width:100px; height:38px; margin-left:90px;}
.order_anniu1 .btn_hs{width:100px; height:38px; margin-left:0px;}

.order{ border:1px solid #b8b7b7; border-left:none; border-right:none; padding: 10px 0px;}
.order_top{width:94%; border-bottom:1px solid #000; box-shadow:0px 1px 0px #4c4c4c; line-height:22px; padding:3px 3%;}
.order_top li{ width:100%; line-height:28px; color:#e7e7e7;}

.order_top a:hover{color:#33c0d0;}
.order_bo{ padding:5px 3%; width:94%; color:#e7e7e7; text-shadow:1px 1px 0px #000; line-height:26px;}
.order_bo p { width:100%; text-align:left; line-height:26px;}
.address .btn_hs{height:38px;}
.address  ul{ width:100%; display:-webkit-box;}
.address li{ margin-right:5px; width:49%; -webkit-box-flex:1;}
.address li .btn_hs{text-align: center;}
.address{width:94%; padding-bottom:8px; padding:0 3%;}

.dddr_one{ font-family:"微软雅黑"; font-size:15px;height:27px; border:0px; background:0px; color:#ffd401; line-height:27px; text-decoration:underline}

.btn_qx{ background:#b6b6b6; box-shadow:1px 1px 0px #a6a6a6 Inset; text-shadow:1px 1px 0px #a6a6a6; width:63px; border:0px; font-family:"微软雅黑"; color:#FFFFFF; text-align:center; display:block; outline:none; height:30px;}
.bs{background:#fff;}
.hs{border:1px solid red; width:94%; margin:0 3%; background-color:rgba(83,83,83, 0.4);  border-bottom:1px solid #000; border-top:0px; border-left:0px; border-right:0px; box-shadow:0px 1px 0px #6a6a6a Inset; }

.btn_qp{ width:97%; margin-right:3%; border:0px; background:#fd9523; color:#FFFFFF; height:30px; font-family:"微软雅黑"; text-shadow:1px 1px 0px #da770a;}
.btn_ls{ width:40%; margin-right:3%; border:0px; background:#07bac0; color:#FFFFFF; height:30px; font-family:"微软雅黑"; text-shadow:1px 1px 0px #079ca1; box-shadow:1px 1px 0px #079ca1 Inset; border:0px;}

.address_one{padding-left:10px; box-shadow:0px 1px 0px #fff; width:97%; padding-bottom:8px;}

.No_login{ background-color:rgba(83,83,83, 0.4); text-align:left; line-height:20px; width:94%; color:#c0c0c0; margin:15px 3% 0px; text-shadow:1px 1px 0px #000; border-bottom:1px solid #000; box-shadow:0px 1px 0px #6a6a6a Inset; }
.No_login label{width:94%; display:block; line-height:40px; padding:0 3%; }
.No_login label img{margin-top:10px;}
.login_one{ padding-bottom:10px;}

.tickit{ width:94%; padding:15px 3% 10px; height:15px; background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffd800), to(#ffa610));   color:#7a440a; font-weight:bold; text-align:left; font-size:14px;}
.tickit_ls{ background:#33c0d0; border:1px solid #33c0d0;}
.buy_new_tickit{ width:100%;}
.buy_new_tickit li{ width:149px;}
.buy_new_tickit li input{ margin-top:5px; margin-right:5px;}
.inp_tickit{ margin:5px 0px;}
.order_number{ text-align:center; width:100%; margin:20px 0px 30px;}

/*登录弹框样式*/
#login_box { position: fixed; width: 100%; height: auto; z-index: 11; display: none; }
.login_box{width:90%; margin:0 auto; background:#e1e1e1; background:url(http://m.douyou100.com/Resources/douyou100_1/images/bj_new.jpg) repeat; border-bottom:1px solid #000; border-top:0px; border-left:0px; border-right:0px;  height:auto;padding: 10px;box-shadow: 0px 0px 7px #000000;}
.login_box .title{ border-bottom:1px solid #000; box-shadow:0px 1px 0px #4f4f4f; font-size:16px;text-align:center; height:35px;line-height:30px; color:#e7e7e7;}
.login_box .title .close { position: relative; float: right; width: 21px; height: 21px; background:url(http://m.douyou100.com/Resources/douyou100_1/images/close_1.png) no-repeat 0 0; }
.login_box .content { width: 100%; line-height: 28px; font-size: 15px; color: #e7e7e7; }
.login_box .content .item { margin: 12px 0 0; }
.login_box .btns { margin-top: 12px; text-align: center; overflow: hidden; }
.login_box .btn_y { margin-top: 2px; height: 38px; display: inline-block; line-height: 38px; background: url(http://m.douyou100.com/Resources/douyou100_1/images/nav_bj_new.png) repeat-x -2px; border-radius:3px; font-size: 15px; font-family: "微软雅黑"; text-align: center; color: #7a440a; text-shadow: 0px 0px 0px #000; cursor: pointer; }
.login_box .btn_g { margin-top: 2px; height: 38px; display: inline-block; line-height: 38px; background: url(http://m.douyou100.com/Resources/douyou100_1/images/nav_bj_new_2.png) repeat-x -2px; border-radius:3px; font-size: 15px; font-family: "微软雅黑"; text-align: center; color: #4b4b4b; text-shadow: 0px 0px 0px #000; cursor: pointer; }
.login_box .txt_phone { width: 94% }
.login_box .txt_code { width: 45% }
.login_box .w_75 { width: 85px }
.login_box_animation_show { -webkit-animation:login_box_animation_show 0.5s; top: 25%;}
.login_box_animation_close { -webkit-animation:login_box_animation_close 0.5s; top: 105%; }
@-webkit-keyframes login_box_animation_show {
	from { top: 105%; }
	to { top: 25%; }
}
@-webkit-keyframes login_box_animation_close {
	from { top: 25%; }
	to { top: 105%; }
}
#login_block { width: 100%; height: 100%; position: absolute; z-index: 10; background-color: rgba(0,0,0,0.5); top: 0px; left: 0px; display: none; }

#imageCode_box { position: fixed; width: 100%; height: auto; z-index: 11; display: none; }
.imageCode_box{width:90%; margin:0 auto; background:#e1e1e1; background:url(http://m.douyou100.com/Resources/douyou100_1/images/bj_new.jpg) repeat; border-bottom:1px solid #000; border-top:0px; border-left:0px; border-right:0px;  height:auto;padding: 10px;box-shadow: 0px 0px 7px #000000;}
.imageCode_box .title{ border-bottom:1px solid #000; box-shadow:0px 1px 0px #4f4f4f; font-size:16px;text-align:center; height:35px;line-height:30px; color:#e7e7e7;}
.imageCode_box .title .close { position: relative; float: right; width: 21px; height: 21px; background:url(http://m.douyou100.com/Resources/douyou100_1/images/close_1.png) no-repeat 0 0; }
.imageCode_box .content { width: 100%; line-height: 28px; font-size: 15px; color: #e7e7e7; }
.imageCode_box .content .item { margin: 12px 0 0; }
.imageCode_box .btns { margin-top: 12px; text-align: center; overflow: hidden; }
.imageCode_box .btn_y { margin-top: 2px; height: 38px; display: inline-block; line-height: 38px; background: url(http://m.douyou100.com/Resources/douyou100_1/images/nav_bj_new.png) repeat-x -2px; border-radius:3px; font-size: 15px; font-family: "微软雅黑"; text-align: center; color: #7a440a; text-shadow: 0px 0px 0px #000; cursor: pointer; }
.imageCode_box .btn_g { margin-top: 2px; height: 38px; display: inline-block; line-height: 38px; background: url(http://m.douyou100.com/Resources/douyou100_1/images/nav_bj_new_2.png) repeat-x -2px; border-radius:3px; font-size: 15px; font-family: "微软雅黑"; text-align: center; color: #4b4b4b; text-shadow: 0px 0px 0px #000; cursor: pointer; }
.imageCode_box .txt_phone { width: 94% }
.imageCode_box .txt_code { width: 94% }
.imageCode_box .w_75 { width: 85px }
.imageCode_box img { width:200px; height: 50px; text-align:center }
#imageCode_block { width: 100%; height: 100%; position: absolute; z-index: 10; background-color: rgba(0,0,0,0.5); top: 0px; left: 0px; display: none; }

/*弹框样式样式开始*/
.my_errMsg{position:fixed;width:100%;height:auto;top:25%;left:-100%;z-index:9999;}
.errMsg{width:90%; margin:0 auto; background:#e1e1e1; background:url(http://m.douyou100.com/Resources/douyou100_1/images/bj_new.jpg) repeat; border-bottom:1px solid #000; border-top:0px; border-left:0px; border-right:0px;  height:auto;padding: 10px;box-shadow: 0px 0px 7px #000000;}
.errTtile{width:100%; border-bottom:1px solid #000; box-shadow:0px 1px 0px #4f4f4f; font-size:16px; height:35px;line-height:30px; color:#e7e7e7;}
.errcontent{ text-align:center; line-height:28px; font-size:15px; width:100%; margin:12px 0px; color:#e7e7e7;}
.errbutdiv{text-align:center;display:table;width:100px;margin:0px auto;height:28px;}
.errbutspan{background:url(http://m.douyou100.com/Resources/douyou100_1/images/nav_bj_new.png) repeat-x -2px;font-size:15px; height:38px;line-height:38px; font-family:"微软雅黑";  color:#7a440a;  text-shadow:0px 0px 0px #000;  outline:none; display:table-cell;cursor:pointer;}



.errbutspanTemp{display:table-cell;width:30px;}

.overlayAll{width:100%;height:100%;position:absolute;z-index:9998;background-color:rgba(0,0,0,0.5);top:0px;left:0px;display:none;}
.my_errMsg_animation_show { -webkit-animation:my_errMsg_animation_show 0.5s; left: auto;}
.my_errMsg_animation_close { -webkit-animation:my_errMsg_animation_close 0.5s; left: -100%; }
@-webkit-keyframes my_errMsg_animation_show {
	from { left: -100%; }
	to { left: 0; }
}
@-webkit-keyframes my_errMsg_animation_close {
	from { left: 0; }
	to { left: -100%; }
}


.sale_one{display:-webkit-box;}
.sale_one dd{-webkit-box-flex:1; color:#e7e7e7;}

.answer{ width:94%; margin:0px 3%; color:#d4d4d4; text-align:left; line-height:26px; margin-top:15px;}
.answer p{ /*text-indent:2em;*/}

.order_muban{ background-color:rgba(83,83,83, 0.4);  border-bottom:1px solid #000; border-top:0px; border-left:0px; border-right:0px; box-shadow:0px 1px 0px #6a6a6a Inset; padding-bottom:10px; margin:15px 3%; width:94%;}



.cinema_nav{width:100%; height:33px; line-height:33px; margin:0px; padding:0px;}
.cinema_nav ul{ width:100%; background-color:rgba(83,83,83, 0.4); border-bottom:1px solid #4c4c4c; box-shadow:1px 1px 0px #000;  border-top:1px solid #4c4c4c; height:33px; display:-webkit-box;  color:#fff; text-shadow:0px 0px 0px #000; height:33px;}
.cinema_nav li{display:block; -webkit-box-flex:1;  color:#fff; text-shadow:0px 0px 0px #000; height:33px;  }

.cinema_nav_sel{background:url(http://m.douyou100.com/Resources/douyou100_1/images/nav_bj_new.png) repeat -2px; height:33px; background-size:100% 35px; color:#7a440a; text-shadow:1px 1px 0px #7a440a;}
.sale{width:94%; margin:0px 3%; text-align:left; line-height:22px;}
.cinema_nav li:hover{background:url(http://m.douyou100.com/Resources/douyou100_1/images/nav_bj_new.png) repeat -2px; height:33px; background-size:100% 35px; color:#7a440a; text-shadow:0px 0px 0px #000;}
.sale{width:94%; margin:0px 3%; text-align:left; line-height:22px;  }
.sale dl{border-bottom:1px solid #cccccc; padding-bottom:5px; width:100%; margin-top:12px;}
.sale dt{ width:61px; margin-right:10px;}
.sale dd Hide{ width:225px;}
.sale dd{ width:225px;}
.sale dd ul{ width:100%;}
.sale dd ul li{ border-right:1px solid #cccccc; text-align:center; padding:0px 5px; margin-bottom:5px;}

.exccard_pay { margin: 10px auto 0; width: 90%; text-align: center; }
.exccard_pay input { margin: 5px auto; width: 90%; box-sizing: border-box; }

/*卡查询样式*/
.exccard_banner{ position:relative;}
.poster01 { background-color: rgba(0,0,0,0.4); height: 24px; position: absolute; left: 0px; z-index: 2; width: 100%; color: #FFFFFF; text-align: left; line-height: 24px; bottom: 4px; }
.keyou{width:94%; display:block; line-height:40px; padding:0 3%; }
.keyo { background-color: rgba(83,83,83, 0.4); text-align: left; line-height: 20px; width: 94%; color: #c0c0c0; margin: 15px 3% 0px; text-shadow: 1px 1px 0px #000; border-bottom: 1px solid #000; box-shadow: 0px 1px 0px #6a6a6a Inset; }
.list_cin1 { background-color: rgba(32, 31, 31, 0.3); border-top: 1px solid #444444; border-bottom: 1px solid #242121; width: 100%; text-align: left; padding: 13px 0; color: #c0c0c0; text-shadow: 1px 1px 0px #000; display: inline-block; text-align: left; -webkit-user-select: none; user-select: none; }
.No_login1{ background-color:rgba(83,83,83, 0.4); text-align:left; line-height:20px; width:94%; color:#c0c0c0; margin:15px 3% 0px; text-shadow:1px 1px 0px #000; border-bottom:1px solid #000; box-shadow:0px 1px 0px #6a6a6a Inset; }
.ton { text-overflow: ellipsis; width: 44%; line-height: 17px; text-align: right; margin-right: 15px; overflow: hidden; }
.towrig{float:right; line-height:45px; margin-right:15px;}
.g-txt, .g-txt-City { margin: 0 auto; padding: 0 62px 0 10px; width: 100%; height: 45px; display: block; background-color: #fff; background-position: 0 bottom; border: 0px solid #ddd8d4;  box-sizing: border-box; font-size: 14px; color: #CCC; outline: none ; font: }
#field2::-webkit-input-placeholder { color:#777; font-family:"微软雅黑"; }
.g-txt-City { line-height: 35px; background-size: 150px 2250px; background-position: 10px -752px; }
.g-txt-CityS{ background:url(http://m.douyou100.com/Resources/douyou100_1/images/SOU.png)no-repeat right;background-size: 37px 24px;}
.city1{ position:relative; width: 94%;margin: 0 auto;}
.city2 { float: left; font-size: 16px; color: #c0c0c0; margin: 0px 0px; border-right: 1px solid #6a6a6a; position: absolute; padding: 8px; left: 3px; top: 4px; }
.Studios{margin-left: 3%;margin-right: 3%; font-size:16px;}
.Exchange{margin-left: 3%;margin-right: 3%;margin-top: 6px;color: #8D8D8D;}
.excarea { background-color: rgba(83,83,83, 0.4) !important }
/*卡支付*/
.EXCCardPaycontent .btn_hhs { text-align:center; }
.addExcCard { margin: 0 10px }
.addExcCard div { margin: 10px 0; font-size:16px; color: #696969 }

.cardExcList { margin: 0 10px 10px 10px }
.cardExcList .box { margin: 10px 0; padding: 10px; background-color: rgba(83,83,83, 0.4); border-top: 1px solid #404040; border-bottom: 1px solid #000; font-size: 14px; line-height: 25px; color: #666 }

.cardExcList .item { position: relative; overflow: hidden }
.cardExcList .item p b { color: #e33125 }
.cardExcList .item p span { float: right; font-size: 12px; color: #9e9e9e }
.cardExcList .item a { position: absolute; top: -31px; right: -19px; width: 50px; height: 50px; display: block; background: #ffd401; -webkit-transform:rotate(35deg); }
.cardExcList .item a span { position: absolute; top: 35px; left: 28px; width: 8px; height: 8px; display: block; background: url(http://m.douyou100.com/Resources/douyou100_1/images/close.png) no-repeat 0 0; background-size: 8px; -webkit-transform:rotate(-35deg); }

#excCardInfo p i { font-style: normal }
#excCardInfo p b { color: #e33125 }
#excCardInfo p span { float: right; }

.excCardCue { margin: 10px 0; font-size: 12px; text-align: right; color: #666 }
.excCardCue b { color: #e33125 }
.excCardCue span { margin-right: 5px; width: 20px; height: 15px; display: inline-block; line-height: 15px; background-color: #c00; border-radius: 15px; font-size: 12px; text-align: center; color: #fff }

.cardExcList .btn_g { width:100%; height: 38px; display: inline-block; line-height: 38px; background: url(http://m.douyou100.com/Resources/douyou100_1/images/nav_bj_new_2.png) repeat-x -2px; font-size: 15px; font-family: "微软雅黑"; text-align: center; color: #4b4b4b; text-shadow: 0px 0px 0px #000; cursor: pointer; }

.star { margin:0 3px;width:20px;height:19px;display:inline-block;background:url(http://m.douyou100.com/Resources/douyou100_1/images/star.png) no-repeat 0 0;background-size:20px }
.star.on { background-position:0 -29px }

.change { overflow: hidden; margin-bottom: 5px; padding: 8px 0; font-family: "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "Hiragino Sans GB", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif }
.change .word { float: left; margin-right: 5px; line-height: 40px; font-size: 1.8rem }
.change > div { margin: 0 auto; height: 42px; display: table; border-radius: 15px; text-shadow: none }
.change > div a { float: left; width: 45px; height: 40px; display: inline-block; line-height: 40px; background-color: rgba(83,83,83, 0.4); font-size: 2rem; text-align: center; color: #fff;box-shadow: 1px 1px 1px #6a6a6a Inset; }
.change .minus { border-right-width: 0; -webkit-border-bottom-left-radius: 4px; -webkit-border-top-left-radius: 4px }
.change .number { float: left; width: 70px; height: 40px; display: inline-block; line-height: 40px; background-color: #595959; text-align: center; font-size: 2rem; color: #ffd401;box-shadow: 1px 1px 6px #000 Inset;}
.change .add { border-left-width: 0; -webkit-border-bottom-right-radius: 4px; -webkit-border-top-right-radius: 4px; font-family: ����; font-weight: bold }