<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="css/pintuer.css">
<link rel="stylesheet" href="css/admin.css">
<script src="js/jquery.js"></script>
<script src="js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong class="icon-reorder"> 订单列表</strong></div>
  <div class="padding border-bottom">
  <ul style="margin-left: 30%">
    <li>
      <form action="?r=order/order" method="post">
      <input type="text" placeholder="请输入姓名或手机号码" name="search" class="input" style="width:250px; line-height:17px;display:inline-block" />
      <button href="javascript:void(0)" class="button border-main icon-search"> 搜索</button>
      </form>
    </li>
  </ul>
  </div>
  <table class="table table-hover text-center">
    <tr>
      <th width="10%">ID</th>
      <th width="10%">订单编号</th>
      <th width="10%">用户姓名</th>
      <th width="10%">用户联系方式</th>
      <th width="10%">用户的地址</th>
      <th width="10%">发布时间</th>
      <th width="10%">订单状态</th>
    </tr>
    <?php foreach($data->allModels as $key=>$val){ ?>
        <tr>
          <td><?php echo $val['order_id']?></td>
          <td><?php echo $val['order_number']?></td>
          <td><?php echo $val['user_name']?></td>
          <td><?php echo $val['user_phone']?></td>
          <td><?php echo $val['user_address']?></td>
          <td><?php echo $val['order_time']?></td>
          <td  ids="<?php echo $val['order_id']?>">
            <?php
              if($val['order_state']==0){
                  echo "<span style='color:'>待接单</span>";
              }else if($val['order_state']==1){
                  echo "<span style='color:'>待完成</span>";
              }else if($val['order_state']==2){
                  echo "<a href='javascript:void (0)' class='order' style='color: red;'>待审核</a>";
              }else if($val['order_state']==3){
                  echo "<span style='color:green'>已完成</span>";
              }
            ?>
            <!--<div class="button-group">-->
            <!--<a class="button border-main" href="#add"><span class="icon-edit"></span> 修改</a>-->
            <!--<a class="button border-red" href="javascript:void(0)" onclick="return del(1,1)"><span class="icon-trash-o"></span> 删除</a>-->
          <!--</div>-->
          </td>
        </tr>
    <?php } ?>
  </table>
</div>
<div align="center">
  <?php
      use yii\widgets\LinkPager;
      echo LinkPager::widget([
     'pagination' => $pages,
  ]);
  ?>
</div>
<script type="text/javascript">
function del(id,mid){
	if(confirm("您确定要删除吗?")){
	
	}
}
$(".order").click(function () {
    var _this=$(this);
    var id=_this.parent('td').attr('ids');
    if(id!=''){
        $.ajax({
            type: "get",
            url: "?r=order/order_state",
            data: {order_id:id},
            success: function(msg){
                if(msg==0){
                    location.href='?r=order/order'
                }else{
                    location.href='?r=order/order'
                }
            }
        });
//                window.location.href='jieorder?orderid='+id
    }
})
</script>
</body></html>